{% load compress static tz %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html lang="uk">
<head>
    {% block meta_tags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta data-name="revision_id" data-content="{{ revision.id }}">
        <meta data-name="university_id" data-content="{{ university.id }}">
        <meta data-name="timezone" data-content="{{ TIME_ZONE }}">
        <meta data-name="endpoint" data-content="{{ request.resolver_match.url_name }}">
    {% endblock %}

    <title>{% block title %}Рейтинг{% endblock %}</title>

    {% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">

        {% compress css file vendor %}
            <link href="{% static 'user_site/vendor/reset.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/DataTables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/fontawesome/css/all.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
        {% endcompress %}

        {% compress css file application %}
            <link type="text/x-scss" href="{% static 'user_site/scss/application.scss' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}
</head>
<body>

<div class="header-wrap">
    <div class="header">
        <div class="header__title">{{ university.name }}</div>
    </div>

    <div class="top-nav">
        <a class="top-nav__link" href="{% url 'home' %}">Головна</a>
        <div class="top-nav__dropdown">
            <button class="top-nav__dropdown-toggle">Рейтинг</button>
            <div class="top-nav__dropdown-menu">
                <a class="top-nav__dropdown-link" href="{% url 'faculty_rating' %}">Факультетів</a>
                <a class="top-nav__dropdown-link" href="{% url 'department_rating' %}">Кафедр</a>
                <a class="top-nav__dropdown-link" href="{% url 'person_rating' %}">Науковців</a>
            </div>
        </div>
        <a class="top-nav__link top-nav__link_state" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
    </div>
</div>

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

<div class="card">
    {% include "user_site/includes/persons_search_form.html" %}
</div>

{% block content %}
    <div class="row">
        <div class="left-column">
            {% block left_column %}{% endblock %}
        </div>
        <div class="right-column">
            {% block right_column %}{% endblock %}
        </div>
    </div>
{% endblock %}

<div class="footer">
    <p id="footer-current-year"></p>
</div>

{% block scripts %}
    {% compress js file vendor %}
        <script src="{% static 'user_site/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'user_site/vendor/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'user_site/vendor/DataTables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'user_site/vendor/highcharts.js' %}"></script>
        <script src="{% static 'user_site/vendor/no-data-to-display.js' %}"></script>
        <script src="{% static 'user_site/vendor/luxon.js' %}"></script>
    {% endcompress %}

    {% compress js file application %}
        <script type="text/es6" src="{% static 'user_site/js/common.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/home.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/person-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/faculty-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/department-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/person.js' %}"></script>
    {% endcompress %}
{% endblock %}

</body>
</html>
