{% load compress static tz %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html lang="uk">
<head>
    {% block meta_tags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta data-name="revision_id" data-content="{{ revision.id }}">
        <meta data-name="university_id" data-content="{{ university.id }}">
        <meta data-name="timezone" data-content="{{ TIME_ZONE }}">
        <meta data-name="endpoint" data-content="{{ request.resolver_match.url_name }}">
    {% endblock %}

    <title>{% block title %}Рейтинг{% endblock %}</title>

    {% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">

        {% compress css file vendor %}
            <link href="{% static 'user_site/vendor/reset.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/DataTables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/fontawesome/css/all.css' %}" rel="stylesheet">
            <link href="{% static 'user_site/vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
        {% endcompress %}

        {% compress css file application %}
            <link type="text/x-scss" href="{% static 'user_site/scss/application.scss' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}
</head>
<body>

<div class="header-wrap">
    <div class="header">
        <div class="header__title">{{ university.name }}</div>
    </div>

    <div class="top-nav">
        <a class="top-nav__link" href="{% url 'home' %}">Головна</a>
        <div class="top-nav__dropdown">
            <button class="top-nav__dropdown-toggle">Рейтинг</button>
            <div class="top-nav__dropdown-menu">
                <a class="top-nav__dropdown-link" href="{% url 'faculty_rating' %}">Факультетів</a>
                <a class="top-nav__dropdown-link" href="{% url 'department_rating' %}">Кафедр</a>
                <a class="top-nav__dropdown-link" href="{% url 'person_rating' %}">Науковців</a>
            </div>
        </div>
        <a class="top-nav__link top-nav__link_state" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
    </div>
</div>

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

<div class="card">
    {% include "user_site/includes/persons_search_form.html" %}
    <p><a href="https://app.powerbi.com/view?r=eyJrIjoiNTVmY2FmZjEtYzRlOC00MGM4LTlmOWUtYmJiOWM1NGQ0ZTFkIiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR2EC2B-i-Kf0LyD5Po1tQV8TnAQE1ZNz3KnX6L-imRpOsAS_bmh2mXSAJc">Візуалізація оновлення. </a></p>
    <p><a href="https://app.powerbi.com/view?r=eyJrIjoiNDA4YTIzZmMtODQxNC00OTFlLWJmOTktZWFmYzQwM2IzNzg4IiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR1eiY51oUmnxmMsGugkVX_SkVlX4NDBpWeJIwxGbZyLGJZ7J_cBmEnow6s">Рейтингові показники осіб, які подали документи для участі в конкурсі на заміщення вакантних посад науково-педагогічних працівників. </a></p>
    <p><a href="http://ceur-ws.org/Vol-2393/paper_260.pdf">Information System of Scientific Activity Indicators of Scientific Organizations: Development Status and Prospects.</a></p>
    <p><a href="http://ceur-ws.org/Vol-2104/paper_233.pdf">Development of ratting systems for scientometric indices of universitties.</a></p>
    <p><a href="http://ceur-ws.org/Vol-1614/paper_67.pdf">Design and Development of Information System of Scientific Activity Indicators.</a></p>
    <p><a href="http://www.irbis-nbuv.gov.ua/cgi-bin/irbis_nbuv/cgiirbis_64.exe?I21DBN=LINK&P21DBN=UJRN&Z21ID=&S21REF=10&S21CNR=20&S21STN=1&S21FMT=ASP_meta&C21COM=S&2_S21P03=FILA=&2_S21STR=ITZN_2014_39_1_11">Побудова ІКТ інфраструктури ВНЗ: проблеми та шляхи вирішення.</a></p>
    <p><a href="https://pdfs.semanticscholar.org/025b/7970d882c2c2196e288b28534367a62c5356.pdf">Monitoring of Efficiency of Feedback Systems Use on the Base of Kherson State University.</a></p>
    <p><a href="https://github.com/informan123/123/blob/master/!!!_3_Google%20ACademia.pptx">Google Академия.</a></p>
    <p><a href="https://github.com/informan123/123/blob/master/!!!_3_%D0%AF%D0%BA_%D0%B7%D0%B0%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D1%83%D0%B2%D0%B0%D1%82%D0%B8%D1%81%D1%8C_%D0%B2_ORCID.pptx">Як зареєструватись в ORCID.</a></p>
</div>

{% block content %}
    <div class="row">
        <div class="left-column">
            {% block left_column %}{% endblock %}
        </div>
        <div class="right-column">
            {% block right_column %}{% endblock %}
        </div>
    </div>
{% endblock %}

<div class="footer">
    <p id="footer-current-year"></p>
</div>

{% block scripts %}
    {% compress js file vendor %}
        <script src="{% static 'user_site/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'user_site/vendor/jquery-ui/jquery-ui.js' %}"></script>
        <script src="{% static 'user_site/vendor/DataTables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'user_site/vendor/highcharts.js' %}"></script>
        <script src="{% static 'user_site/vendor/no-data-to-display.js' %}"></script>
        <script src="{% static 'user_site/vendor/luxon.js' %}"></script>
        <script src="{% static 'user_site/vendor/raphael.min.js' %}"></script>
        <script src="{% static 'user_site/vendor/dracula.min.js' %}"></script>
    {% endcompress %}

    {% compress js file application %}
        <script type="text/es6" src="{% static 'user_site/js/common.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/home.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/person-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/faculty-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/department-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/person.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/department-person-rating.js' %}"></script>
        <script type="text/es6" src="{% static 'user_site/js/faculty-department-rating.js' %}"></script>
    {% endcompress %}
{% endblock %}

</body>
</html>
