{% extends "user_site/base.html" %}

{% block meta_tags %}
{{ block.super }}
<meta data-name="faculty_id" data-content="{{ faculty.id }}">
{% endblock %}


{% block title %}Рейтинг кафедр факультету "{{ faculty.name }}"{% endblock %}

{% block content %}
<div class="card">
  <h3>Рейтинг кафедр факультету "{{ faculty.name }}"</h3>


  <div id="tabs" class="tabs">
    <ul>
      <li><a href="#tab-scopus">Scopus</a></li>
      <li><a href="#tab-google-scholar">Google Scholar</a></li>
      <li><a href="#tab-semantic-scholar">Semantic Scholar</a></li>
      <li><a href="#tab-wos">Web of Science</a></li>
    </ul>

    <div id="tab-scopus">
      <table id="scopus" class="data-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Кафедра</th>
          <th>Індекс Хірша</th>
          <th>Документи</th>
          <th>Цитування</th>
        </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <div id="tab-google-scholar">
      <table id="google-scholar" class="data-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Кафедра</th>
          <th>Індекс Хірша</th>
          <th>Цитування</th>
        </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <div id="tab-semantic-scholar">
      <table id="semantic-scholar" class="data-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Кафедра</th>
          <th>Citation Velocity</th>
          <th>Influential Citation Count</th>
        </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <div id="tab-wos">
      <table id="wos" class="data-table">
        <thead>
        <tr>
          <th>#</th>
          <th>Кафедра</th>
          <th>Публікації</th>
        </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
