{% extends 'user_site/base.html' %}

{% block content %}

<div class="card">
  <div class="chart-wrap">
    <style>
   ol {
    list-style-type: none;
    counter-reset:  item;
   }
   ol li::before {
    content: counter(item) ') ';
    counter-increment: item;
   }
   ul {
    list-style-type: none;
   }
   ul li::before {
    content: "●";
   }


    </style>
    <ul>
      <li><a
        href="https://mon.gov.ua/storage/app/media/atestatsiya-kadriv-vyshchoi-kvalifikatisii/2020/01/naukovikh-fakhovikh-vidan-281119.doc">
        Перелік наукових фахових видань України, в яких можуть публікуватися результати дисертаційних робіт на здобуття
        наукових ступенів доктора і кандидата наук (станом на 28 грудня 2019 року).</a></li>
      <li><a
        href="https://mon.gov.ua/storage/app/media/atestatsiya-kadriv-vyshchoi-kvalifikatisii/2020/01/elektronnikh-fakhovikh-vidan-281119.doc">Перелік
        електронних наукових фахових видань України, в яких можуть публікуватися результати дисертаційних робіт на
        здобуття наукових ступенів доктора і кандидата наук (станом на 28 грудня 2019 року).</a></li>
      <li><a href="http://resources.ukrintei.ua/refer/search"> РЕЄСТР наукових фахових видань України.</a></li>
      <li><a
        href="https://app.powerbi.com/view?r=eyJrIjoiNTVmY2FmZjEtYzRlOC00MGM4LTlmOWUtYmJiOWM1NGQ0ZTFkIiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR2EC2B-i-Kf0LyD5Po1tQV8TnAQE1ZNz3KnX6L-imRpOsAS_bmh2mXSAJc">Візуалізація
        оновлення. </a></li>
      <li><a
        href="https://app.powerbi.com/view?r=eyJrIjoiNDA4YTIzZmMtODQxNC00OTFlLWJmOTktZWFmYzQwM2IzNzg4IiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR1eiY51oUmnxmMsGugkVX_SkVlX4NDBpWeJIwxGbZyLGJZ7J_cBmEnow6s">Рейтингові
        показники осіб, які подали документи для участі в конкурсі на заміщення вакантних посад науково-педагогічних
        працівників. </a></li>
      <li><a href="https://github.com/informan123/123/blob/master/!!!_3_Google%20ACademia.pptx">Google Академия.</a>
      </li>
      <li><a
        href="https://github.com/informan123/123/blob/master/!!!_3_%D0%AF%D0%BA_%D0%B7%D0%B0%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D1%83%D0%B2%D0%B0%D1%82%D0%B8%D1%81%D1%8C_%D0%B2_ORCID.pptx">Як
        зареєструватись в ORCID.</a></li>
    </ul>
    <p><b><strong> Виступи на конференціях: </strong></b></p>

    <ol type="1" start="1">
      <li><a href="http://ceur-ws.org/Vol-2393/paper_260.pdf">Information System of Scientific Activity Indicators of
        Scientific Organizations: Development Status and Prospects.</a></li>
      <li><a href="http://ceur-ws.org/Vol-2104/paper_233.pdf">Development of ratting systems for scientometric indices
        of universitties.</a></li>
      <li><a href="http://ceur-ws.org/Vol-1614/paper_67.pdf">Design and Development of Information System of Scientific
        Activity Indicators.</a></li>
      <li><a
        href="http://www.irbis-nbuv.gov.ua/cgi-bin/irbis_nbuv/cgiirbis_64.exe?I21DBN=LINK&P21DBN=UJRN&Z21ID=&S21REF=10&S21CNR=20&S21STN=1&S21FMT=ASP_meta&C21COM=S&2_S21P03=FILA=&2_S21STR=ITZN_2014_39_1_11">Побудова
        ІКТ інфраструктури ВНЗ: проблеми та шляхи вирішення.</a></li>
      <li><a href="https://pdfs.semanticscholar.org/025b/7970d882c2c2196e288b28534367a62c5356.pdf">Monitoring of
        Efficiency of Feedback Systems Use on the Base of Kherson State University.</a></li>
    </ol>
    <p><b><strong>Наукометрія:</strong></b></p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=xWzGtdOuhU0&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ">Реєстрація вченого в "Index Copernicus". Частина 1. </a></li>
      <li><a href="https://www.youtube.com/watch?v=tU-etvCXYbQ&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=2">Реєстрація вченого в "Index Copernicus". Частина 2.</a></li>
      <li><a href="https://www.youtube.com/watch?v=LaXNCe6Etrw&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=3">Створення профілю вченого в наукометрічній системі " Google Академія".</a></li>
      <li><a href="https://www.youtube.com/watch?v=dnk0uZ6k2JY&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=4">Реєстрація автора в ORCID.</a></li>
      <li><a href="https://www.youtube.com/watch?v=NU_ZqKwsJi8&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=6">Як обрати журнал для опублікування результатів наукових досліджень.</a></li>
      <li><a href="https://www.youtube.com/watch?v=W428j_LnCXU&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=7">Реєстрація в ResearcherID.</a></li>
    </ul>
    <div id="chart" class="chart"></div>
  </div>
</div>
{% endblock %}
