{% extends 'user_site/base.html' %}

{% block content %}

<div class="card">
  <div class="chart-wrap">
    <style>
   ol {
    list-style-type: none;
    counter-reset:  item;
   }
   ol li::before {
    content: counter(item) ') ';
    counter-increment: item;
   }
   ul {
    list-style-type: none;
   }
   ul li::before {
    content: "●";
   }


    </style>
    <ul>
      <li><a
        href="https://mon.gov.ua/storage/app/media/atestatsiya-kadriv-vyshchoi-kvalifikatisii/2020/01/naukovikh-fakhovikh-vidan-281119.doc">
        Перелік наукових фахових видань України, в яких можуть публікуватися результати дисертаційних робіт на здобуття
        наукових ступенів доктора і кандидата наук (станом на 28 грудня 2019 року).</a></li>
      <li><a
        href="https://mon.gov.ua/storage/app/media/atestatsiya-kadriv-vyshchoi-kvalifikatisii/2020/01/elektronnikh-fakhovikh-vidan-281119.doc">Перелік
        електронних наукових фахових видань України, в яких можуть публікуватися результати дисертаційних робіт на
        здобуття наукових ступенів доктора і кандидата наук (станом на 28 грудня 2019 року).</a></li>
      <li><a href="http://resources.ukrintei.ua/refer/search"> РЕЄСТР наукових фахових видань України.</a></li>
      <li><a
        href="https://app.powerbi.com/view?r=eyJrIjoiNTVmY2FmZjEtYzRlOC00MGM4LTlmOWUtYmJiOWM1NGQ0ZTFkIiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR2EC2B-i-Kf0LyD5Po1tQV8TnAQE1ZNz3KnX6L-imRpOsAS_bmh2mXSAJc">Візуалізація
        оновлення. </a></li>
      <li><a
        href="https://app.powerbi.com/view?r=eyJrIjoiNDA4YTIzZmMtODQxNC00OTFlLWJmOTktZWFmYzQwM2IzNzg4IiwidCI6IjM1M2VhMjZhLWM5NzgtNDhhYi1hZmZmLWMyMTM1MDI2OTQ5MSIsImMiOjl9&fbclid=IwAR1eiY51oUmnxmMsGugkVX_SkVlX4NDBpWeJIwxGbZyLGJZ7J_cBmEnow6s">Рейтингові
        показники осіб, які подали документи для участі в конкурсі на заміщення вакантних посад науково-педагогічних
        працівників. </a></li>
      <li><a href="https://github.com/informan123/123/blob/master/!!!_3_Google%20ACademia.pptx">Google Академия.</a>
      </li>
      <li><a
        href="https://github.com/informan123/123/blob/master/!!!_3_%D0%AF%D0%BA_%D0%B7%D0%B0%D1%80%D0%B5%D1%94%D1%81%D1%82%D1%80%D1%83%D0%B2%D0%B0%D1%82%D0%B8%D1%81%D1%8C_%D0%B2_ORCID.pptx">Як
        зареєструватись в ORCID.</a></li>
    </ul>
    <p><b><strong> Виступи на конференціях: </strong></b></p>

    <ol type="1" start="1">
      <li><a href="http://ceur-ws.org/Vol-2393/paper_260.pdf">Information System of Scientific Activity Indicators of
        Scientific Organizations: Development Status and Prospects.</a></li>
      <li><a href="http://ceur-ws.org/Vol-2104/paper_233.pdf">Development of ratting systems for scientometric indices
        of universitties.</a></li>
      <li><a href="http://ceur-ws.org/Vol-1614/paper_67.pdf">Design and Development of Information System of Scientific
        Activity Indicators.</a></li>
      <li><a
        href="http://www.irbis-nbuv.gov.ua/cgi-bin/irbis_nbuv/cgiirbis_64.exe?I21DBN=LINK&P21DBN=UJRN&Z21ID=&S21REF=10&S21CNR=20&S21STN=1&S21FMT=ASP_meta&C21COM=S&2_S21P03=FILA=&2_S21STR=ITZN_2014_39_1_11">Побудова
        ІКТ інфраструктури ВНЗ: проблеми та шляхи вирішення.</a></li>
      <li><a href="https://pdfs.semanticscholar.org/025b/7970d882c2c2196e288b28534367a62c5356.pdf">Monitoring of
        Efficiency of Feedback Systems Use on the Base of Kherson State University.</a></li>
    </ol>
    <p><b><strong>Наукометрія:</strong></b></p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=xWzGtdOuhU0&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ">Реєстрація вченого в "Index Copernicus". Частина 1. </a></li>
      <li><a href="https://www.youtube.com/watch?v=tU-etvCXYbQ&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=2">Реєстрація вченого в "Index Copernicus". Частина 2.</a></li>
      <li><a href="https://www.youtube.com/watch?v=LaXNCe6Etrw&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=3">Створення профілю вченого в наукометрічній системі " Google Академія".</a></li>
      <li><a href="https://www.youtube.com/watch?v=dnk0uZ6k2JY&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=4">Реєстрація автора в ORCID.</a></li>
      <li><a href="https://www.youtube.com/watch?v=NU_ZqKwsJi8&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=6">Як обрати журнал для опублікування результатів наукових досліджень.</a></li>
      <li><a href="https://www.youtube.com/watch?v=W428j_LnCXU&list=PLjuzdxxVlMJ1ONIsnbIFAEjIO0NZsURFZ&index=7">Реєстрація в ResearcherID.</a></li>
    </ul>
    <p><b><strong>Бібліотека Херсонського Державного Університету ::</strong></b></p>
     <ul>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.1&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ_6UvMhlRLuCT4akdmbHwnQrEqhe8NCi4NtRduujXnbgtj10NzHFOaNBxOzMdi0cLzufR0_Rw-HXT3LZgIzGNYktehB4tpYjGCv9V9WsOZv_VRRejHyFnwur1k468YGpJrEbpAxCqJiPUlNY-XeRKYDqXqPtM4AZB-QmowgDwMaoZiWk0SjmBNiSE3JYN7ZrEuGfK7HhGIyRV6Czh-q9wp6HUG3gM1uiyjpHaev0PzvYIDm1Dr1dHSHyenCjWT6HQSlGvx0eJsv5xuDqOWv8H0-jKh925xGfA7rKwkQa3xYUun2o-9pnfbTqLLJI1WrWESs5ZYng25zXMNzjLhbAKr0xBrQnzqMfDSig1Ftcu-xcT2WR0OttR83uoJzlIw7PD-0ZEQ0lRRX5kR0n8TGGLMnkmrqAjW46PqIw0K_gDYX1Bpgv3dZJnrIR_t_wQZoPWCh1CiDzcrweF5LCD-qmppyE6vWjGvuI9KOakqTXN8YQJXSNhnSaZrXNflkHgmlgPBQ8qol7Igv0S2mBsiQyDHYOv2TBFcho8XCYpqBOA8BVVQ4hpc-_5fAVYCn0LlccxI69i4ZX7JLjJ49TyJRbNDYYN3JNz-tBNOHTZFrYsjYfQ6y4c6rYBr8z3uiG3BwhsFdlRg5yFxafEXKD8AK_HWxeYokUIEcGRzd7C7PuQprDAWPDo5IsEtIhns">
        Інструкція користувача Google Academy.</a></li>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.2&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ-qs7F2FlCGXpHCOaQFcrhBWSopNkDqbzl3C8EzLF0iHX3C-JkW2iAclLBpiML8PXbBB1vLfoMRotlD5lV8esd21BJ5rASM4DofCBhKv3RB_q6rN2CoRuZSlCBOe7nVuC4bCE5mzt_d3p5eDPEWlNiKj-cooCMjAfPI8JjYaawyoUXrWuySquzISvubLTOpMlD0Q8F7vO-M36gty1W8CbGWlbR9SVDAiJFvJb5hrSO1o60WzRhnySVfh0zv-ra-oJj9zh-bKsngev-RkYesYEeHRknf0IrbFuOy1J0Qiam6To-KdmDGblxAY6lav-ZWXbsukMFC06niQPWYVUQFaizD-hNeKefhSmblRRJi7CIZajVpuBoyN256DKctYX3YEQHQYgi9vMAmEpw6AJ5qi6zlLhQ5oJEBn1CTqW9OTW32fg0wNDFroCTqTxnlbwVlk5mCWThoIdlZJkw0UoBm3GxPrxmqkFuojmbJ5tVuttcAXQtmkIrts0XrPljsieu3sSvVzfxabb1w9cHkuN1lmdrYcBBO9lYKCR-ln21cWIWMf0xjcvRijq17d-XNd8dajwB-3KDm2Rt3lZ4JjV3y2N39ZNaM-rrTXllGYn3LVNIqDHTU_P721eMP3morTc-PUwJ7tsMDhPujk92Cpiv2M-C06g6dvvOcVGWSdLTD-qhLtT61iEwib0rpb3A">
        Інструкція користувача ORCID.</a></li>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.3&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ9zjwoEbYIB8a74EfJm7wEFbm9iPzyZaFoTV1BHgVIsO51HgBoJvDsTydqUtJzXHwKIrP-gECQTEgqKFefEa84xXRWOcqPr1s3Ji9B7UyMgMuDKQLVVrX88zotxMlrXYBeyeT4VjlEyJ-r-gHrVpKkdzoVtf0DJojFzL-ZjoBhJtAEuGCTnbsHzm26r-Q5N9dILoDcdKIs3ptKhPDxJUcmPwFHW5nKlN7WA-NJeNWw49jVRJWiHW54I6dAbFpscjGyfXKOHyXihy0vF-sH8QtJRwMgHwHn4wryw0CV19OZ8i56kgxEdwxBBO-UbnPFRDgrd3rJJFGYoIFfmsbSrwi5xkG2xi1k1T5QRQtB-hExAn-6AjYnOyBQNc4YH3Exe9gyPcsb2qvFQljereMxtQ_FOiyql5TraPBxEzFy69afMU2yMtrDD21PXtCgGzYJnbXxiYdMmlyVwainSMJxW9h9rAzOPgv-TeqWkjzn17jVVaSM65L2blh2XZKB-DCLYfUXB-j2Q98yTgyug586v0vJ-8s9zJ_3-Ts3-OzbJU0wBZidzZSYWnk861VFDj0Z5uz_Is51uXNokRAbijPLSx1IW649Zy68g3sxiXBGpfM76jDLGkF28XPhnMfRDEegNCQnWSSpEVEuRWiUWRITN3859S-o2Zxw6oM5EJzKOFTcaisyoaEM1ngxbS-4">
        Інструкція користувача Scopus.</a></li>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.4&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ-Woux5SopLehczS9GYxL4XLKhrJ1Kqm2wOL78Sis9iOZY2bMp0oDmAj3Cdd7p-Ame3YiZzcamGWSr2gJRlx3T3L4rqCv_7jyymWZ_ysPWkT0B-P3yFTWGdTSkKt-7RKtvTUoHInFxqCRZRm1kzq4lp6FicgCN2ETaN0GGdJXPZRIHcwDN3iHgOcPnJSJBkd5PuWwakmOFg19q1eRP-obcedxd6zPl2-KbcawLT5uH7z31ztYaVPa3u9gGOUyQUE4nj_8OoOIzy1WVz5ATi-NOcD4DasSbm4c3l382L3f9JyqAnB6uNRIv1Hx2Xn7yPyHIF6_cB__Al7PV45aBBr7AWzFnKcY3dB4GK57iN8xQPYe6X936WjjsZnBkilwTrXpHyMYRWJu_kLWWTlNHPTRUSsm3E2zqCXf4mZP89HWq7tYJvpSAExaWgB3Ny2b6ajZS-PNY4tXAASFKmJx9rNHxGYsVtaHn4vZ0avijptXT3GHENDLGvfBW3hnQOyE6i8WLaRu0srEU0WCIhnTvgnMDz8rWZe56byP8RynrO06Rrj9ruN0NV4S71yO7g_vWyD8l9Ugdd_yLrkUrLzlJaRORo0wpjy4mMj5ALuta1eH8rX61z5NBPotQHhp2Kthqx6gtkmoPmoI2sW225Br7YVjGMBgDre_37QcsiWaqEciwiEGN3l13aggpULxk">
        Інструкція користувача Web of Science.</a></li>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.5&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ_-PtyYJF1ID-I_5ra3-3i2euaroOmRAsi37_NC_thGHF9jpTIRowQkcL04bZAxa0ie2i91vIFfK17gGu3ejkroFhg-_5RpIv6grRmyXI2sZrz_Rwyk1W0IX1mcQ68RcvtKKgZ-BRUUjfTN6yvb_PwoprgL_RHeKbVFX8HOjsmkeipQmakL6O4Zdglzh94nd4DMqqdtBbc0rW9yd0Fy7mPCAb_hJkTp_FGGfBBj_T0wxqAvN3JBlaaTPAo3f4OkgP6OhBKaLdJ7miBLilV9nyLWwaVqdQaDTW45Lk1OyZi_as2WpLwPoUwq7DPTvg5VG00bq-Ss1a13w4Fp9-mw9rW4d1jDSz3L6w4eNslrWlI6WRXmfwL2dZscJvtx77Y9JPs8-OnWsgP6HzuVusu1PexQhx0agsV473t8GDSwzTM7jnhSV8T1XZybeH3Y72zxNr_lygdxFISQvbdyERWJ0v76X2f3t5WzM_9yA6dsrjvbjadR2N_4b_Xdo8sfFfSg7h8xSvVVsrWwtT0bcOvAzvwOoIZzxyJgDd2hd3HC2P0HrJSAY4CDOmagEVgT7vqCYy7AiPtYAYiAR2uEKxaRMyVal6mxKF1q8J52O2J83rGzsRdUeZh-GKesMUhJtc1xumwTiqz3nlKbECcRoYe6pKgIFmt-JX-o5cyvcyEcOxt9ZBBS_jw8vV-WHho">
        Інструкція користувача Mendeley.</a></li>
      <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=6835a651fe&attid=0.6&permmsgid=msg-f:1666229690060428596&th=171fa3133642d534&view=att&disp=inline&saddbat=ANGjdJ-urqJns_G6LMuMXidmfFXUNUGup28LTMk1yNMzBZu4sV4Qxp2pZ-7NW5Rn_dHFIf4PwDpkO8r1PF4h8ypfUr8BOVYXbzOpokZzeu0ffnWSRFN5-_SrznvuFdwt-yFK6_GSU6ZCVIP8hPQ_xoMVsfYee2MvCQKTh5leTRpVaCid6PZ3hwbDrZNJsktmgAXdrGvRSjRiQZq1FTsPsTyR8EGWubuMSm7trkmFKLSBhrugANSarjOPCO_myKY-rk2gUuQFLMSE3Ev-j9H6HnMY6TfDd_riCXOB3y1BPPMCcRbqHNxvp6QM54OiZiZRTZ3f4Da0QS5W3s-ajGlSmrzURcYLoYsmZG-R7j9_6-FwwC_ggYB3KQcTdYFuOUo9HkxRytw7v9Pfr6pi1kW2IhP9ce3PsZ3i4Go9vM9ZCP2XpRGytXHeG8mUJY9GjwxLVYuyqaYpkCqBMufxe8C9K1f-mVL78NVEbuX7IqIrR_m8STwKLhgqlSoJx2V1N7F6LCKJ9Isr1XX-6xQkk8FYyhWBKhmWnED8uEKR9sgWv7e5xjlwj6Qzg328UQZcN-Ppyp-XOBICgPtwizESTAzjrpFjTAt6R1LfzcPXCQ7FC8_xljbl3JC8d0Uw2us5iFjKoF475RDkZYiT2FAlBplQ7rWBAINRSu1t7J71Z1P5-gxQCIquA9_wnQNA8aVWzh0">
        Інструкція користувача ResearchGate.</a></li>
    </ul>
    <div id="chart" class="chart"></div>
  </div>
</div>
{% endblock %}
